body {
    font-family: Palatino, sans-serif;
    color: black;
    background: white;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1, h2, h3 {
    margin: 20px 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 0;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 5vw;
    }
}


@media screen and (max-width: 767px) and (orientation: landscape) {
    body {
        font-size: 1em;
    }
}

@media (orientation: landscape) {
    .buttonbar {
        position: static;
    }
}

a {
    color: blue;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: black;
    }

    a {
        color: cyan;
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding: 0 10%;
    }
    h1 {
        float: left;
    }
    .statusbar {
        float: right;
        min-width: 250px;
    }

    .statusbar + * {
        clear: both;
    }
}

.statusbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: sticky;
    margin: 0;
    padding: 10px;
    top: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
    .statusbar {
        background: rgba(0, 0, 0, .7);
    }
}

.statusbar li {
    text-align: center;
}

.statusbar li:first-child {
    text-align: left;
    flex-basis: 30%;
}

dialog {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    width: fit-content;
    height: fit-content;
    color: black;
    margin: auto;
    border-width: initial;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 1em;
    background: white;
    min-width: 300px;

    position: fixed;
    top: 0px;
    bottom: 0px;
    max-width: calc((100% - 6px) - 2em);
    max-height: calc((100% - 6px) - 2em);
    overflow: auto;

}

@media (prefers-color-scheme: dark) {
    dialog {
        color: white;
        background: black;
    }
}

dialog::backdrop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
    position: fixed;
}

.backdrop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
    position: fixed;
}

dialog + .backdrop {
    display: block;
}

@media (prefers-color-scheme: dark) {
    dialog::backdrop {
        background: rgba(0, 0, 0, .7);
    }

    dialog + .backdrop {
        background: rgba(0, 0, 0, .7);
    }
}

dialog:not([open]),
dialog:not([open]) + .backdrop {
    display: none;
}

button,
input:not([type='checkbox']),
textarea {
    border: 10px solid;
}

input:not([type='checkbox']),
input:not([type='submit'])
textarea {
    width: 500px;
    background: ivory;
    border-top-color: grey;
    border-right-color: silver;
    border-bottom-color: silver;
    border-left-color: grey;
}

input[type="submit"],
button {
    width: 200px;
    font-size: 24px;
    font-size: 24px;
    text-shadow: 0 1px 0 gold;
    background: goldenrod;
    border-top-color: gold;
    border-right-color: chocolate;
    border-bottom-color: chocolate;
    border-left-color: gold;
    transition: background 300ms ease-in-out, border 100ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="submit"]:not(:disabled):hover,
button:not(:disabled):hover {
    background: gold;
    border-top-color: yellow;
    border-right-color: chocolate;
    border-bottom-color: chocolate;
    border-left-color: yellow;
}

input[type="submit"]:disabled,
button:disabled {
    opacity: 0.5;
}

input[type="submit"]:not(:disabled):active,
button:not(:disabled):active {
    text-shadow: 0 -1px 0 chocolate;
    background: goldenrod;
    border-top-color: chocolate;
    border-right-color: gold;
    border-bottom-color: gold;
    border-left-color: chocolate;
}

input:not([type='checkbox']),
textarea,
button {
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media screen and (max-width: 767px) {
  input:not([type='checkbox']),
  textarea,
  button {
    width: 100%;
  }

  input[type="submit"],
  button {
    width: auto;
  }

}

.buttonbar {
    margin: 20px 0 0 0;
    position: sticky;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
    gap: 1rem;
}

@media screen and (max-width: 690px) {
    .buttonbar {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    }
}


@media (orientation: portrait) {
    .buttonbar {
        position: sticky;
    }
}

@media (orientation: landscape) {
    .buttonbar {
        position: static;
    }
}

footer.buttonbar {
    display: block;
    text-align: right;
    left: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
    footer.buttonbar {
        background: rgba(0, 0, 0, .7);
    }
}

.buttonbar:first-child {
    margin-top: 0;
}

.buttonbar.-single {
    display: block;
    text-align: center;
}

.buttonbar.-special {
    padding: 100px;
}

.buttonbar.-single button {
    padding: 20 100px;
}

.buttonbar.-spread {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 400px) {
    .buttonbar button + button {
        margin-left: 0;
    }
}

.buttonbar.-main {
    display: block;
}

.buttonbar.-main button {
    display: block;
    margin: 20px auto;
    width: 300px;
}

.buttonbar.-main button:last-child {
    margin-top: 80px;
    width: 200px;
}

ul.report {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto 0 0 0;
    padding: 0;
    font-size: 1.4em;
}

ul.report strong,
ul.report span {
    margin-left: 5px;
}

.reputation .report {
    margin-top: 20px;
}

.gameover h2 {
    color: crimson;
}

.-oversize {
    text-align: center;
    font-size: 5em;
    line-height: .1em;
}

.reputation .-oversize,
.purchase .-oversize,
.solution .-oversize {
    line-height: 2em;
}

ul.messages,
ul.items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    gap: 1rem;
}

ul.messages {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
}

ul.items {
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 1rem), 1fr));
}

@media screen and (max-width: 977px) {
    ul.items {
        grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
    }

    ul.messages {
        grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
    }
}

@media screen and (max-width: 767px) {
    ul.items {
        grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
    }

    ul.messages {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    }
}

@media screen and (max-width: 390px) {
    ul.items {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    }
}

@media screen and (max-width: 320px) {
    ul.messages {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% - 1rem), 1fr));
    }
}

li.message,
li.item {
    margin: 0;
    padding: 20px;
    background: rgba(0, 0, 0, .1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-between;
}

.message.-expired {
    opacity: 0.3;
}

.message[data-encrypted] {
    border: 10px solid white;
}

.message[data-encrypted="1"] {
    border-color: crimson;
}

.message[data-encrypted="2"] {
    border-color: slateblue;
}

.message[data-encrypted="3"] {
    border-color: springgreen;
}

.message[data-encrypted="4"] {
    border-color: royalblue;
}

.message[data-encrypted="5"] {
    border-color: 10px solid gold;
}

.message.-expired:before,
.message.-expired:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    background: red;
    position: absolute;
    transform: translate(200px);
}

.message.-expiring-3 {
    background: lightgreen;
	transform: scale(1);
	animation: pulse 3s infinite;
}

.message.-expiring-2 {
    background: lemonchiffon;
	transform: scale(1);
	animation: pulse 2s infinite;
}

.message.-expiring-1 {
    background: pink;
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

    75% {
		transform: scale(1.1);
	}

    80% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

ul.messages li:nth-child(1) { 
    -webkit-animation-delay: -100ms;
    animation-delay: -100ms; 
}

ul.messages li:nth-child(2) {	
    -webkit-animation-delay: -300ms;
    animation-delay: -300ms;
}

ul.messages li:nth-child(3) {	
    -webkit-animation-delay: -150ms; 
    animation-delay: -150ms; 
}

.message.-expired {
    overflow: hidden;
}

.message.-expired:before {
    transform: skewY(30deg)
}

.message.-expired:after {
    transform: skewY(-30deg)
}

.message.-expiring-3 .message-expires {
    color: green;
}

.message.-expiring-2 .message-expires {
    color: orange;
}

.message.-expiring-1 .message-expires {
    color: red;
}

@media (prefers-color-scheme: dark) {
    .message.-expiring-3,
    .message.-expiring-2,
    .message.-expiring-1 {
        color: black;
    }

    li.message,
    li.item {
        background: rgba(255, 255, 255, .1);
    }
}

.message-heading {
    font-style: italic;
}

.item-name {
    font-style: italic;
    margin-bottom: 20px;
}

.item-icon.-oversize {
    font-size: 10vw;
    line-height: 2vw;
}

.item-cost {
    white-space: nowrap;
    margin-right: 10px;
    font-size: 1.4em;
}

.item .buttonbar {
    margin-top: auto;
}

@media screen and (max-width: 767px) {
    .item-cost {
        margin-right: 0;
    }

    .item .buttonbar {
        display: block;
        text-align: center;
    }

    .item button {
        width: 100%;
    }
}

.loading {
    height: 300px;
}

.loading-icon {
    animation: Rotate 3s both infinite linear;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
}

@keyframes Rotate {
    0% {
      transform: rotate(180deg) scale(1);;
    }
    50% {
        transform: rotate(0) scale(2);;
      }
    100% {
      transform: rotate(-180deg) scale(1);;
    }
}
